window {
  border-radius: 4px;
}

.scrsh {
  padding: 6px 4px;
}

.btn-close {
  background-color: #cc575d;
  padding: 0;
  border-radius: 12px;


  &:hover {
    background-color: #d7787d;
  }

  &:active {
    background-color: #be3841;
  }
}
