---
# tasks file for "{{ role_name|replace('-', '_') }}" role
- name: "Install dependencies"
  become: true
  community.general.pacman:
    name: "{{ '{{' }} {{ role_name|replace('-', '_') }}_packages {{ '}}' }}"
    extra_args: "--needed"
