---
# Git
git_user_name: "{{ git_user_name }}"
git_user_email: "{{ git_user_email }}"

# Default CLI Text Editor
default_cli_text_editor: "{{ default_cli_text_editor }}"

# Mirrors
reflector_country_list: "{{ mirror_country_name }},"
reflector_mirrors_count: 20
reflector_sort: "rate"

# Country and language
country_code: "{{ country_code }}"
language_code: "{{ language_code }}"

# Locale
locale_encoding: "UTF-8"
system_lang_name: "en_US"
system_lang: {% raw %}"{{ system_lang_name }}.{{ locale_encoding }}"{% endraw %}
locale_lang_name: {% raw %}"{{ language_code }}_{{ country_code }}"{% endraw %}
locale_lang: {% raw %}"{{ locale_lang_name }}.{{ locale_encoding }}"{% endraw %}
locale_language: {% raw %}"{{ locale_lang }}:{{ system_lang }}""{% endraw %}

# Keyboard
keyboard_layout: {% raw %}"{{ language_code }}"{% endraw %}

# vconsole
vconsole_font: "ter-c16b"
vconsole_keymap: "ru"

# Default VISUAL Text Editor
default_visual_text_editor: "GNOME Text Editor"

# Default terminal emulator
default_terminal_emulator: "GNOME Console"
