---
# Git
git_user_name: "{{ git_user_name }}"
git_user_email: "{{ git_user_email }}"

# Default CLI Text Editor
default_cli_text_editor: "{{ default_cli_text_editor }}"

# Mirrors
reflector_country_list: "{{ mirror_country_name }},"
reflector_mirrors_count: 20
reflector_sort: "rate"

# Country and language
country_code: "{{ country_code }}"
language_code: "{{ language_code }}"
