---
# Git
git_user_name: "{{ git_user_name }}"
git_user_email: "{{ git_user_email }}"

# Default CLI Text Editor
default_cli_text_editor: "{{ default_cli_text_editor }}"

# Mirrors
mirror_country_name: "{{ mirror_country_name }}"

# Country and language
country_code: "{{ country_code }}"
language_code: "{{ language_code }}"
