#!/bin/bash

# If user ID is greater than or equal to 1000 &
# if ~/{{ nvm_rel_dir }} exists and is a directory
# then export NVM_DIR and sourced $NVM_DIR/nvm.sh.
if [[ $UID -ge 1000 && -d $HOME/{{ nvm_rel_dir }} ]]
then
    export NVM_DIR="$HOME/{{ nvm_rel_dir }}"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
fi
